body {
    background-color: #718d91;
    }

#home-badge {
    animation: 1.25s ease-out 0s 1 slideInFromBottom;
    margin: 40px;
    width: 350px;
    height: 475px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    }

#home-button {
    margin: 10px;
    }

#home-logo {
    margin-top: 15px;
    width: 300px;
    height: auto;
    }

.home-button {
    width: 75%;
    margin-bottom: 2px;
    }

.make-quiz-container, .take-quiz-container, .list-container{
   width: 80%;
   height: auto;
   background: white;
   border-radius: 10px;
   margin-top: 30px;
   padding: 20px;

       button {
       margin: 2px;
       }

       .progress {
       margin-bottom: 15px;
       }

       #quiz-name, #author-name {
       width: 75%;
       }

       input, label {
       margin: 10px;
       }

       .result-description {
       width: 90%;
       height: 100px;
       margin: 10px;
       }

       .question-body {
       width: 90%;
       margin: 10px;
       }

       h4 {
       margin: 10px;
       }

       .answer {
       width: 200px;
       }

        .answer-trash-icon {
        margin-top: 12px;
        margin-right: 20px;
        }
        svg:hover{
        background-color: LightGray;
        }
   }

#state-1, #state-2, #state-3, #state-4, #state-5 {
    display: none;
        }

.result-view, .question-view {
    display: none;
    }

#required-field-alert {
    display: none;
    }

.result-view {
    a {
    margin: 3px;
    }
    }

.answer-delete-icon {
    margin-left: 12px;
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

a, a:hover {
    color: #6db0a8;
    }

// Animations here

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
        }
    100% {
        margin-top: translateX(0);
        opacity: 1;
        }
    }
